*.7z
venv/
datasets/
tmp/
src/data/*
checkpoints/
src/__pycache__/
COP6_Caligidae/
plots/
temp.py
src/analysis.py
checkpoints_mae/
wandb/
*.pth
*.pyc
*.csv

output_clusters/
*.db
pretraining/optimize/storage/
pretraining/optimize/storage/optuna_study_small.db
